# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Disable directory listing
Options -Indexes

# Protect sensitive environment & git files
<FilesMatch "^\.env|\.git">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
