# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Disable directory listing for security
Options -Indexes

# Security Header & File Protection
<FilesMatch "^\.env|package\.json|package-lock\.json|\.git">
    Order allow,deny
    Deny from all
</FilesMatch>

# Enable Rewrite Engine for Node.js Passenger Entry
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ server.js [QSA,L]
